.header{
    padding: 5%;
    
}
.header__figure--img{
    width: 220px;
}
.header__nav{
    display: none;
}
.header__nav-mobile--list{
    text-align: center;

}
.header__nav-mobile--list-item{
    margin: 12%;
}
.header__nav-mobile--list-link,.header__nav--list-link{
    padding: 7px 15px ;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    background-color: var(--orange);
    color: var(--white-hard);
    font-weight: 600;
    transition: 0.5s;

}
.header__nav-mobile--list-link:hover, .header__nav--list-link:hover{
    border-radius: 15px;
    background-color: var(--white-hard);
    color: var(--orange);
    cursor: pointer;
}
.header__nav-mobile--button{
    position: absolute;
    right: 0;
    top: 0;
    margin: 12px 5px;
    padding: 7px 8px 2px 8px ;
    border-radius: 50px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
    background-color: var(--orange);
}
.header__nav-mobile--button-img{
    width: 25px;
}

/*Responsive*/
@media screen and (min-width: 768px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__nav-mobile{
        display: none;
    }
    .header__nav{
        display: block;
    }
    .header__nav--list{
        display: flex;
    }
    .header__nav--list-item{
        margin: 1%;
        white-space: nowrap;
    }
}
@media screen and (min-width: 1024px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__figure--img{
        width: 300px;
    }
    .header__nav--list-item{
        margin: 2%;
    }
    .header__nav--list-link{
        padding: 10px 17px ;
    }
}