/*all*/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}

body {
    background-color: #f4f4f4;
}

/*header*/
.header ,.header__list--item,.header__list--link,.header__mobile-menu{
    padding: 5%;
}

.header__img {
    width: 230px;
}

.header__list--item{
    text-align: center;
    margin: 5% 0;
}

.header__list--link{
    border: 1px solid #fc4c02;
    color: #fc4c02;
    border-radius: 15px;
    border-width: 2px;
}

.header__mobile-menu{
    position: absolute;
    right: 0;
    top: 0;
}

.header__mobile-menu--icon{
    width: 25px;
    border: 1px solid;
    padding: 20%;
    background-color: #fc4c02;
    border-radius: 20px;
    border:none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}


/*animation*/
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.growMenu{
    animation: growDown 400ms ease-in-out forwards;
    transform-origin: top center;
}