/*all*/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}

body {
    background-color: #f4f4f4;
}

/*header*/
.header ,.header__list--item,.header__mobile-menu{
    padding: 5%;
}

.header__img {
    width: 230px;
}

.header__list--item{
    text-align: center;
    margin: 5% 0;
}

.header__list--link{
    border: 1px solid #fc4c02;
    color: #f4f4f4;
    border-radius: 10px;
    background-color: #fc4c02;
    padding: 3%;
}

.header__list--link:hover{
    color:#fc4c02;
    background-color: #f4f4f4;
    border-width: 3px;
    font-weight: 600;

}

.header__mobile-menu{
    position: absolute;
    right: 0;
    top: 0;
}

.header__mobile-menu--icon{
    width: 25px;
    border: 1px solid;
    padding: 20%;
    background-color: #fc4c02;
    border-radius: 20px;
    border:none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#header__list-id{
    display: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

/*animation*/
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.growMenu{
    animation: growDown 400ms ease-in-out forwards;
    transform-origin: top center;
}

/*media*/

@media screen and (min-width: 768px){
    /*header*/
    .header,#header__list-id{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #header__list-id{
        border: none;
        white-space: nowrap;
    }
    .header__list--item{
        margin: 0 1%;
        padding: 0;
    }
    .header__list--link{
        padding: 5px 7px;
        border-radius: 5px;
    }
    .header__mobile-menu{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    /*header*/
    .header__img {
        width: 300px;
    }
    .header__list--item{
        margin: 0 4% 0 0;
    }
    .header__list--link{
        padding: 10px;
    }
}