/*variables*/
:root {
    --white-soft : #f4f4f4;
    --white-hard : #fff;
    --orange : #ec4a13;
    --purple: #39207c;
}
/*all*/
*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: none;
  border-style: none;
  outline: none;
  list-style: none;
}
body{
  background-color: var(--white-soft);
}
